<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>simple_web</display-name>
	<welcome-file-list>
		<welcome-file>/index.do</welcome-file>
	</welcome-file-list>

	<!-- 日志配置 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.xml</param-value>
	</context-param>
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>60000</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<!-- end -->

	<!--  服务化文档 -->
	<filter>
		<filter-name>DocumentFilter</filter-name>
		<filter-class>org.yy.framework.document.controller.DocumentFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DocumentFilter</filter-name>
		<url-pattern>/resources_support/*</url-pattern>
	</filter-mapping>
		
	<!-- **********************************单点登录Filter*************************************************** -->
	<!-- 
	<filter>
		<filter-name>SSOFilter</filter-name>
		<filter-class>org.yy.sso.client.SSOFilter</filter-class>
		<init-param>
			<param-name>excludes</param-name>
			<param-value>/accessdenied.jsp,/error404.jsp,/error500.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>ssoUrl</param-name>
			<param-value>http://localhost:8080/sso/</param-value>
		</init-param>
		<init-param>
			<param-name>returnUrl</param-name>
			<param-value>http://localhost:8087/user/index.do</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SSOFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SSOFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SSOFilter</filter-name>
		<url-pattern>*.json</url-pattern>
	</filter-mapping> -->
	<!-- ************************************************************************************* -->


	<!-- **********************************系统Filter*************************************************** -->
	<!-- 
	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>org.yy.user.filter.UserFilter</filter-class>
		<init-param>
			<param-name>excludes</param-name>
			<param-value>/login.jsp,/accessdenied.jsp,/error404.jsp,/error500.jsp,/login.do,/login.json,/dologin.json,/dologin.do</param-value>
		</init-param>
		<init-param>
			<param-name>systemCode</param-name>
			<param-value>USER_SYSTEM</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>*.json</url-pattern>
	</filter-mapping> -->
	<!-- ************************************************************************************* -->


	<!-- ***********************************spring config *********************************** -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring/applicationContext*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	 <listener><!-- 以便在普通类中获取request信息，ServletRequestAttributes srAttrs = (ServletRequestAttributes) RequestContextHolder.currentRequestAttributes(); -->
    	<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
   </listener>
	<!-- listener> <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class> 
		</listener -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- ************************************************************************************* -->

	<!-- ***********************************spring  hessian*********************************** -->
	 <servlet>
        <servlet-name>remoting</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/remote-service.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>remoting</servlet-name>
        <url-pattern>/remoting/*</url-pattern>
    </servlet-mapping>

	<!-- ************************************************************************************* -->

	<!-- ***********************************spring mvc *********************************** -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:spring/springmvc.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>
	<!-- ************************************************************************************* -->
	
	<!-- ***********************************druid 监控，正式环境一般注释 *********************************** -->
	<filter>  
        <filter-name>DruidWebStatFilter</filter-name>  
        <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>  
        <init-param>  
            <param-name>exclusions</param-name>  
            <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>  
        </init-param>  
      </filter>  
      <filter-mapping>  
        <filter-name>DruidWebStatFilter</filter-name>  
        <url-pattern>/*</url-pattern>  
      </filter-mapping>  
      <servlet>  
        <servlet-name>DruidStatView</servlet-name>  
        <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>DruidStatView</servlet-name>  
        <url-pattern>/druid/*</url-pattern>  
    </servlet-mapping>  
	<!-- ***********************************spring mvc *********************************** -->

	<!-- ***********************************error config *********************************** -->
	<error-page>
		<error-code>404</error-code>
		<location>/common/error404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/common/error500.jsp</location>
	</error-page>
	<!-- ********************************************************************** -->


	<!-- 配置session存在时间 -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<jsp-config>
		<taglib>
			<taglib-uri>/yy</taglib-uri>
			<taglib-location>/WEB-INF/yy.tld</taglib-location>
		</taglib>
	</jsp-config>

</web-app>